

h1  {
  font-size: 70pt;
  color: rgba(230, 35, 58, 0.46);
  font-family: fantasy;
}

h2 {
  text-align: center;
  font-size: 35pt;
  width: 75%;
  font-weight: bold;
  color: white;
}
div h2 {
  font-family: cursive;
}

.list {
  color: grey;
}
 .center {
   text-align: center;
 }

.column {
  float: left;
  width: 500px;
  font-weight: lighter;
  font-size: 15pt;
  color: grey;
  padding: 20px;
}

ul {
  clear: both;
  text-align: center;
  list-style: none;
}

.border {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}


.important {
  text-align: center;
  font-size: 44pt;
  width: 75%;
  font-weight: bold;
  color: white;
}

body {
  font-family: sans-serif;
  background-color: rgba(245, 206, 201, 0.57);
}

.gallery {
  margin: auto;
  padding: 25px;
}

p.owners {
  width: 75%;
  font-weight: bold;
}

p.important {
  width: 75%;
  font-weight: bold;
  color: white;
}

img {
  border-radius: 60%;
  height: 200px;
  width: 250px;
}

a {
  font-weight: bold;
  font-style: italic;
}

.here {
  text-align: center;
}
